
  p {color: white;text-align-last: center; text-shadow: 1px 1px 2px orange, 0 0 1em green, 0 0 0.2em black;font-size: 20px;}
body{padding-top: 10em;
  background: linear-gradient(#F7ECDE, #B6C867);

}
img{background-color: white;}


h1
{color:green;}



/*************************/
.Nature1:hover{background-color: green;border-radius: 100%;}
.Nature2:hover{background-color: Orange;border-radius: 100%;}
.Trip1:hover{background-color: #A2DBFA; }
.Trip2:hover{background-color: black; }
.why{font-size: 30px;}
